html, body {
    height: 100%;
    margin: 0;
}

.background-wrapper {
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-image: url('../images/CBM Backgroud.jpeg');
    background-size: 100% 100%; /* Stretch to fill the entire area */
    background-position: center; /* Center the image */
    /*background-attachment: fixed; /* Keep it fixed while scrolling */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-color: #f0f0f0; /* Fallback background color */
}
